[Spark API Roadmap / Cheatsheet](https://zgul.de/teaching/spark-api)

In [1]:
#pyspark library
import pyspark

#creating spark object (necessary to creating spark dfs)
spark = pyspark.sql.SparkSession.builder.getOrCreate() #once per notebook

In [2]:
#fancy nice html representation
spark

In [3]:
import pandas as pd
import pydataset

## DataFrame Basics

In [4]:
#loading tips dataset from pydataset
tips = pydataset.data('tips')

#spark doesn't load any data until it has to
df = spark.createDataFrame(tips)
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [5]:
#load data w/ .show()
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [6]:
#pass a number in
df.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [7]:
#common mistake
df2 = df.show(10)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [8]:
#reassigning gives back nothing
df2

In [9]:
#.show() is like a print statement, it doesn't return anything
# Don't reassign to a variable
#.show() is just to view contents
type(df2)

NoneType

In [10]:
#work with values in the df
df.head(5)

[Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2),
 Row(total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4)]

In [11]:
#show row contents
df.head(5)[0]

Row(total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)

In [12]:
#show value for tip
df.head(5)[0].tip

1.01

In [13]:
#pull specific columns w/ .select and pass col names you want
df.select('total_bill', 'tip', 'size', 'day')
#specified a transformation, and not an action (that is why we don't see anything b/c you need .show())

DataFrame[total_bill: double, tip: double, size: bigint, day: string]

In [14]:
#show values
df.select('total_bill', 'tip', 'size', 'day').show()

+----------+----+----+---+
|total_bill| tip|size|day|
+----------+----+----+---+
|     16.99|1.01|   2|Sun|
|     10.34|1.66|   3|Sun|
|     21.01| 3.5|   3|Sun|
|     23.68|3.31|   2|Sun|
|     24.59|3.61|   4|Sun|
|     25.29|4.71|   4|Sun|
|      8.77| 2.0|   2|Sun|
|     26.88|3.12|   4|Sun|
|     15.04|1.96|   2|Sun|
|     14.78|3.23|   2|Sun|
|     10.27|1.71|   2|Sun|
|     35.26| 5.0|   4|Sun|
|     15.42|1.57|   2|Sun|
|     18.43| 3.0|   4|Sun|
|     14.83|3.02|   2|Sun|
|     21.58|3.92|   2|Sun|
|     10.33|1.67|   3|Sun|
|     16.29|3.71|   3|Sun|
|     16.97| 3.5|   3|Sun|
|     20.65|3.35|   3|Sat|
+----------+----+----+---+
only showing top 20 rows

In [15]:
#like sql, get back every col
df.select('*')

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint]

In [16]:
#reference col name (spark col object), but no data
df.tip

Column<'tip'>

In [17]:
#tip percentage
df.tip / df.total_bill
#syntax looks like pandas, but result is different
#the column represents the transformation, but isn't full of values

Column<'(tip / total_bill)'>

In [18]:
#specify w/ .select () and .show() to show results
df.select(df.tip / df.total_bill).show(5)

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [19]:
#take expressions and store in a new col
col = df.tip / df.total_bill
col
#holds expression that represents new col, but no data

Column<'(tip / total_bill)'>

In [20]:
#see what we end up with and make modifications
df.select(col).show(5)
#by default, name of col, is the operation that was performed
#so add alias (transforms column)

+-------------------+
| (tip / total_bill)|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [21]:
#using .alias to rename col
df.select(col.alias('tip_pct')).show(5)

+-------------------+
|            tip_pct|
+-------------------+
|0.05944673337257211|
|0.16054158607350097|
|0.16658733936220846|
| 0.1397804054054054|
|0.14680764538430255|
+-------------------+
only showing top 5 rows

In [22]:
#add new col to df by doing .select('*', new_col.alias('new_col_name'))
df.select("*", col.alias('tip_pct')).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

In [23]:
#the df is not modified b/c it was not reassigned
df.show(2)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 2 rows

In [24]:
#to get df w/ tip percentage, we have to assign to variable
df_with_tip_pct = df.select("*", col.alias('tip_pct')).show(5)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
+----------+----+------+------+---+------+----+-------------------+
only showing top 5 rows

## Transforming Columns

In [25]:
from pyspark.sql.functions import sum, mean, concat

#### Built-In Functions

In [26]:
#use built in functions to apply them to cols
df.select(mean(df.tip), sum(df.total_bill)).show()

+----------------+-----------------+
|        avg(tip)|  sum(total_bill)|
+----------------+-----------------+
|2.99827868852459|4827.769999999999|
+----------------+-----------------+

In [27]:
#concatenate text from multiple strings together
df.select(concat('day', 'time')).show(5)

+-----------------+
|concat(day, time)|
+-----------------+
|        SunDinner|
|        SunDinner|
|        SunDinner|
|        SunDinner|
|        SunDinner|
+-----------------+
only showing top 5 rows

In [28]:
#above doesn't look like good format, need to add space character
# df.select(concat('day', ' ' 'time')).show(5)
#used to concating w/ space character, but we get error 
#b/c concat func is trying to resolve everything past it as a name of a col in the df


#Error: 
#AnalysisException: cannot resolve '` time`' given input columns: [day, sex, size, smoker, time, tip, total_bill];
#'Project [concat(day#4, ' time) AS concat(day,  time)#295]
#+- LogicalRDD [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L], false

In [29]:
#for literal (lit) function, needs import
from pyspark.sql.functions import lit

In [30]:
#use .lit() and it'll show proper format w/ literal space character
df.select(concat('day', lit(' '), 'time')).show(5)

+--------------------+
|concat(day,  , time)|
+--------------------+
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
|          Sun Dinner|
+--------------------+
only showing top 5 rows

#### Type Casting

In [31]:
#similar to type casting
df.tip.cast('string')
#gives back col object that represents the transformation specified

Column<'CAST(tip AS STRING)'>

In [32]:
#apply to df w/ .select()
df.select(df.tip.cast('string'))

DataFrame[tip: string]

In [33]:
#view results w/ .show()
df.select(df.tip.cast('string')).show()

+----+
| tip|
+----+
|1.01|
|1.66|
| 3.5|
|3.31|
|3.61|
|4.71|
| 2.0|
|3.12|
|1.96|
|3.23|
|1.71|
| 5.0|
|1.57|
| 3.0|
|3.02|
|3.92|
|1.67|
|3.71|
| 3.5|
|3.35|
+----+
only showing top 20 rows

In [34]:
#now, try doing this to string value and cast to integer, gives back nulls
df.select(df.time.cast('int')).show()
#nulls are like numpy.nan or python None, to indicate absence of a value
#theres no error, like we're used to, spark just converts to 'null'

+----+
|time|
+----+
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
|null|
+----+
only showing top 20 rows

#### String Manipulation

In [35]:
#string manipulation w/ regex
#apply to every value in a col
from pyspark.sql.functions import regexp_extract, regexp_replace

In [36]:
#extract pieces of a col (the first thing from time col)
df.select(
    regexp_extract('time', r'(\w).*', 1)
).show(5)                   #first alphanumeric char, 1 to get contents of first capture group

+-------------------------------+
|regexp_extract(time, (\w).*, 1)|
+-------------------------------+
|                              D|
|                              D|
|                              D|
|                              D|
|                              D|
+-------------------------------+
only showing top 5 rows

In [37]:
#add alias
df.select(
    regexp_extract('time', r'(\w).*', 1).alias('first_letter')
).show(5)

+------------+
|first_letter|
+------------+
|           D|
|           D|
|           D|
|           D|
|           D|
+------------+
only showing top 5 rows

In [38]:
#add in original time col
df.select(
    'time',
    regexp_extract('time', r'(\w).*', 1).alias('first_letter')
).show(5)

+------+------------+
|  time|first_letter|
+------+------------+
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
|Dinner|           D|
+------+------------+
only showing top 5 rows

In [39]:
#use regexp_replace (like re.sub or .str.replace in pandas)
df.select(
    'time',
    regexp_extract('time', r'(\w).*', 1).alias('first_letter'),
    regexp_replace('time', r'[aeiou]', 'X')
).show(5)                #replace any of the vowels w/ a capital X

+------+------------+-----------------------------------+
|  time|first_letter|regexp_replace(time, [aeiou], X, 1)|
+------+------------+-----------------------------------+
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
|Dinner|           D|                             DXnnXr|
+------+------------+-----------------------------------+
only showing top 5 rows

#### when and otherwise

In [40]:
#like case... when in sql
#or like np.where (when it meets this condition, then do one thing)
#or like if function in excel
from pyspark.sql.functions import when

In [41]:
#modify df so that it now contains tip_pct col
df = df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct')
)
#adds tip percentage column
df

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint, tip_pct: double]

In [42]:
#now select everything 
#and when the tip_pct is greater than .2, then say 'Good tip'
#otherwise, say 'not good tip'
df.select(
    '*', 
    when(df.tip_pct > .2, 'Good Tip').otherwise('Not Good Tip')
).show(5)

+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|CASE WHEN (tip_pct > 0.2) THEN Good Tip ELSE Not Good Tip END|
+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|                                                 Not Good Tip|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|                                                 Not Good Tip|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|                                                 Not Good Tip|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|                                                 Not Good Tip|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|                                                 Not Good Tip|
+----------+----+------+------+---+------+----+-------------------+-------------------------------------------------------------+
only showing top 5 rows

In [43]:
#to clean up above output, add alias to when/otherwise statement
#and don't select everything, just tip_pct col instead of everything
df.select(
    'tip_pct', 
    (when(df.tip_pct > .2, 'Good Tip').otherwise('Not Good Tip')).alias('tip_description')
).show(10)

+-------------------+---------------+
|            tip_pct|tip_description|
+-------------------+---------------+
|0.05944673337257211|   Not Good Tip|
|0.16054158607350097|   Not Good Tip|
|0.16658733936220846|   Not Good Tip|
| 0.1397804054054054|   Not Good Tip|
|0.14680764538430255|   Not Good Tip|
|0.18623962040332148|   Not Good Tip|
|0.22805017103762829|       Good Tip|
|0.11607142857142858|   Not Good Tip|
|0.13031914893617022|   Not Good Tip|
| 0.2185385656292287|       Good Tip|
+-------------------+---------------+
only showing top 10 rows

## Transforming Rows
#### Sorting (`.sort` or `.orderBy`)

In [44]:
#original df
df.show(10)

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
+----------+----+------+------+---+------+----+-------------------+
only showing top 10 rows

In [45]:
#sort by total bill
df.sort(df.total_bill).show(5)

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|0.17391304347826086|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|  0.710344827586207|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2| 0.2663115845539281|
+----------+----+------+------+----+------+----+-------------------+
only showing top 5 rows

In [46]:
#orderBy is the same as sort
df.orderBy(df.total_bill).show(5)

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|0.17391304347826086|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|  0.710344827586207|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2| 0.2663115845539281|
+----------+----+------+------+----+------+----+-------------------+
only showing top 5 rows

In [47]:
#sort by day and size
df.sort(df.day, df.size).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|      8.58|1.92|  Male|   Yes|Fri| Lunch|   1|0.22377622377622378|
|     16.27| 2.5|Female|   Yes|Fri| Lunch|   2|0.15365703749231716|
|     11.35| 2.5|Female|   Yes|Fri|Dinner|   2|0.22026431718061676|
|     28.97| 3.0|  Male|   Yes|Fri|Dinner|   2|0.10355540214014498|
|     22.49| 3.5|  Male|    No|Fri|Dinner|   2|0.15562472209871056|
|     10.09| 2.0|Female|   Yes|Fri| Lunch|   2|0.19821605550049554|
|     13.42|1.58|  Male|   Yes|Fri| Lunch|   2|0.11773472429210134|
|     15.38| 3.0|Female|   Yes|Fri|Dinner|   2|0.19505851755526657|
|     27.28| 4.0|  Male|   Yes|Fri|Dinner|   2|0.14662756598240467|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|
|     12.16| 2.2|  Male|   Yes|Fri| Lunch|   2|0.18092105263157895|
|     21.01| 3.0|  Male|   Yes|Fri|Dinner|   2| 0.1427891480247501|
|     16.32| 4.3|Female|   Yes|Fri|Dinner|   2|0.26348039215686275|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833|
|     22.75|3.25|Female|    No|Fri|Dinner|   2|0.14285714285714285|
|     13.42|3.48|Female|   Yes|Fri| Lunch|   2| 0.2593144560357675|
|     15.98| 3.0|Female|    No|Fri| Lunch|   3|0.18773466833541927|
|     40.17|4.73|  Male|   Yes|Fri|Dinner|   4| 0.1177495643515061|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [48]:
#default sort order is ascending
#to change order, you can import new functions
from pyspark.sql.functions import asc, desc, col

In [49]:
#sort by day (default=ascending), descending size
df.sort(df.day, desc('size')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     40.17|4.73|  Male|   Yes|Fri|Dinner|   4| 0.1177495643515061|
|     15.98| 3.0|Female|    No|Fri| Lunch|   3|0.18773466833541927|
|     22.49| 3.5|  Male|    No|Fri|Dinner|   2|0.15562472209871056|
|     27.28| 4.0|  Male|   Yes|Fri|Dinner|   2|0.14662756598240467|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833|
|     28.97| 3.0|  Male|   Yes|Fri|Dinner|   2|0.10355540214014498|
|     15.38| 3.0|Female|   Yes|Fri|Dinner|   2|0.19505851755526657|
|     22.75|3.25|Female|    No|Fri|Dinner|   2|0.14285714285714285|
|     12.16| 2.2|  Male|   Yes|Fri| Lunch|   2|0.18092105263157895|
|     16.27| 2.5|Female|   Yes|Fri| Lunch|   2|0.15365703749231716|
|     13.42|3.48|Female|   Yes|Fri| Lunch|   2| 0.2593144560357675|
|     21.01| 3.0|  Male|   Yes|Fri|Dinner|   2| 0.1427891480247501|
|     10.09| 2.0|Female|   Yes|Fri| Lunch|   2|0.19821605550049554|
|     11.35| 2.5|Female|   Yes|Fri|Dinner|   2|0.22026431718061676|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|
|     13.42|1.58|  Male|   Yes|Fri| Lunch|   2|0.11773472429210134|
|     16.32| 4.3|Female|   Yes|Fri|Dinner|   2|0.26348039215686275|
|      8.58|1.92|  Male|   Yes|Fri| Lunch|   1|0.22377622377622378|
|     28.15| 3.0|  Male|   Yes|Sat|Dinner|   5|0.10657193605683837|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [50]:
#add ascending time
df.sort(df.day, asc('time'), desc('size')).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     40.17|4.73|  Male|   Yes|Fri|Dinner|   4| 0.1177495643515061|
|     16.32| 4.3|Female|   Yes|Fri|Dinner|   2|0.26348039215686275|
|     12.03| 1.5|  Male|   Yes|Fri|Dinner|   2|0.12468827930174564|
|     27.28| 4.0|  Male|   Yes|Fri|Dinner|   2|0.14662756598240467|
|     22.49| 3.5|  Male|    No|Fri|Dinner|   2|0.15562472209871056|
|     21.01| 3.0|  Male|   Yes|Fri|Dinner|   2| 0.1427891480247501|
|      5.75| 1.0|Female|   Yes|Fri|Dinner|   2|0.17391304347826086|
|     12.46| 1.5|  Male|    No|Fri|Dinner|   2| 0.1203852327447833|
|     11.35| 2.5|Female|   Yes|Fri|Dinner|   2|0.22026431718061676|
|     22.75|3.25|Female|    No|Fri|Dinner|   2|0.14285714285714285|
|     15.38| 3.0|Female|   Yes|Fri|Dinner|   2|0.19505851755526657|
|     28.97| 3.0|  Male|   Yes|Fri|Dinner|   2|0.10355540214014498|
|     15.98| 3.0|Female|    No|Fri| Lunch|   3|0.18773466833541927|
|     13.42|3.48|Female|   Yes|Fri| Lunch|   2| 0.2593144560357675|
|     12.16| 2.2|  Male|   Yes|Fri| Lunch|   2|0.18092105263157895|
|     10.09| 2.0|Female|   Yes|Fri| Lunch|   2|0.19821605550049554|
|     13.42|1.58|  Male|   Yes|Fri| Lunch|   2|0.11773472429210134|
|     16.27| 2.5|Female|   Yes|Fri| Lunch|   2|0.15365703749231716|
|      8.58|1.92|  Male|   Yes|Fri| Lunch|   1|0.22377622377622378|
|     28.15| 3.0|  Male|   Yes|Sat|Dinner|   5|0.10657193605683837|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [51]:
#col function creates a spark col(expression that represents a col) (not w/ data)
col('new')

Column<'new'>

In [52]:
#from new col object, we can call various methods (add alias)
col('new').alias('new')

Column<'new AS `new`'>

In [53]:
#ascending 
col('new').asc()

Column<'new ASC NULLS FIRST'>

In [54]:
#or descending
col('new').desc()

Column<'new DESC NULLS LAST'>

In [55]:
#sort by size col desc, and then time ascending
df.sort(col('size').desc(), col('time')).show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|0.10379904504878555|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|0.14093959731543623|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|0.18484288354898337|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|0.19533527696793004|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|0.06565988181221273|
|     29.85|5.14|Female|    No| Sun|Dinner|   5| 0.1721943048576214|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|0.10657193605683837|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5| 0.2416626389560174|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|0.12138868657441128|
|     30.14|3.09|Female|   Yes| Sat|Dinner|   4|0.10252156602521566|
|     19.77| 2.0|  Male|    No| Sun|Dinner|   4|0.10116337885685382|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4| 0.1993047508690614|
|      25.0|3.75|Female|    No| Sun|Dinner|   4|               0.15|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4| 0.0774593338497289|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|0.10620490620490622|
|     24.55| 2.0|  Male|    No| Sun|Dinner|   4| 0.0814663951120163|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4| 0.2805351747949935|
|     20.45| 3.0|  Male|    No| Sat|Dinner|   4| 0.1466992665036675|
|      21.5| 3.5|  Male|    No| Sun|Dinner|   4|0.16279069767441862|
|     31.71| 4.5|  Male|    No| Sun|Dinner|   4|0.14191106906338694|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

#### Filtering (`.where` or `.filter`)

In [56]:
#where tip is less than 4
df.where(df.tip < 4).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|0.13553474618038444|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|0.14140773620798985|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [57]:
#to show results of bool expression (df.tip <4)
mask = df.tip < 4
df.where(mask).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
|     20.29|2.75|Female|    No|Sat|Dinner|   2|0.13553474618038444|
|     15.77|2.23|Female|    No|Sat|Dinner|   2|0.14140773620798985|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [58]:
#.filter is same as .where
#can combine expressions w/ operators from np arrays or pd Series
#where time is dinner OR tip is less than or equal to 2
#add sort by tip and show
df.filter((df.time == "Dinner") | (df.tip <= 2)).sort('tip').show()

+----------+----+------+------+----+------+----+-------------------+
|total_bill| tip|   sex|smoker| day|  time|size|            tip_pct|
+----------+----+------+------+----+------+----+-------------------+
|      12.6| 1.0|  Male|   Yes| Sat|Dinner|   2|0.07936507936507936|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|0.17391304347826086|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|0.13793103448275862|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|0.32573289902280134|
|     16.99|1.01|Female|    No| Sun|Dinner|   2|0.05944673337257211|
|      12.9| 1.1|Female|   Yes| Sat|Dinner|   2|0.08527131782945736|
|     32.83|1.17|  Male|   Yes| Sat|Dinner|   2|0.03563813585135547|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2|0.12413108242303872|
|     10.51|1.25|  Male|    No| Sat|Dinner|   2|0.11893434823977164|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|0.14688601645123384|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2|0.13636363636363638|
|     18.64|1.36|Female|    No|Thur| Lunch|   3|0.07296137339055794|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|0.18604651162790697|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|0.19047619047619047|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2| 0.1518324607329843|
|     10.77|1.47|  Male|    No| Sat|Dinner|   2|0.13649025069637882|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|0.17370892018779344|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|0.17964071856287425|
|     11.59| 1.5|  Male|   Yes| Sat|Dinner|   2|0.12942191544434858|
|     11.17| 1.5|Female|    No|Thur| Lunch|   2|0.13428827215756492|
+----------+----+------+------+----+------+----+-------------------+
only showing top 20 rows

In [59]:
#can do multiple .where's (equivalent to AND)
#where smoker is Yes AND where day is Sat
df.where(df.smoker == "Yes").where(df.day == "Sat").show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|0.07892659826361484|
|     11.24|1.76|  Male|   Yes|Sat|Dinner|   2|0.15658362989323843|
|     20.29|3.21|  Male|   Yes|Sat|Dinner|   2| 0.1582060128141942|
|     13.81| 2.0|  Male|   Yes|Sat|Dinner|   2| 0.1448225923244026|
|     11.02|1.98|  Male|   Yes|Sat|Dinner|   2|0.17967332123411978|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|0.20557681793329688|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|0.32573289902280134|
|     15.01|2.09|  Male|   Yes|Sat|Dinner|   2|0.13924050632911392|
|     26.86|3.14|Female|   Yes|Sat|Dinner|   2|0.11690245718540582|
|     25.28| 5.0|Female|   Yes|Sat|Dinner|   2|0.19778481012658228|
|     17.92|3.08|  Male|   Yes|Sat|Dinner|   2|           0.171875|
|      44.3| 2.5|Female|   Yes|Sat|Dinner|   3|0.05643340857787811|
|     22.42|3.48|Female|   Yes|Sat|Dinner|   2|0.15521855486173058|
|     15.36|1.64|  Male|   Yes|Sat|Dinner|   2|0.10677083333333333|
|     20.49|4.06|  Male|   Yes|Sat|Dinner|   2|0.19814543679843827|
|     25.21|4.29|  Male|   Yes|Sat|Dinner|   2| 0.1701705672352241|
|     14.31| 4.0|Female|   Yes|Sat|Dinner|   2| 0.2795248078266946|
|     10.59|1.61|Female|   Yes|Sat|Dinner|   2|0.15203021718602455|
|     10.63| 2.0|Female|   Yes|Sat|Dinner|   2|0.18814675446848542|
|     50.81|10.0|  Male|   Yes|Sat|Dinner|   3|0.19681165124975397|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

## Aggregating

In [60]:
from pyspark.sql.functions import mean, min, max

#### `.groupBy` and `.agg`

In [61]:
#group by time and call .agg to get the mean of tip for each time
df.groupBy('time').agg(mean('tip')).show()

+------+------------------+
|  time|          avg(tip)|
+------+------------------+
| Lunch|2.7280882352941176|
|Dinner| 3.102670454545455|
+------+------------------+

In [62]:
#supply multiple arguments to .agg function
df.groupBy('time').agg(min('tip'), mean('tip'), max('tip')).show()

+------+--------+------------------+--------+
|  time|min(tip)|          avg(tip)|max(tip)|
+------+--------+------------------+--------+
| Lunch|    1.25|2.7280882352941176|     6.7|
|Dinner|     1.0| 3.102670454545455|    10.0|
+------+--------+------------------+--------+

In [63]:
#add .alias to rename average tip 
df.groupBy('time').agg(mean('tip').alias('avg_tip')).show()

+------+------------------+
|  time|           avg_tip|
+------+------------------+
| Lunch|2.7280882352941176|
|Dinner| 3.102670454545455|
+------+------------------+

In [64]:
#multiple subgroups and see average total bill for each one of them
df.groupBy('time', 'day').agg(mean('total_bill')).show()

#with spark, pass cols as arguments, not in a list like in pandas

+------+----+------------------+
|  time| day|   avg(total_bill)|
+------+----+------------------+
| Lunch|Thur|17.664754098360653|
|Dinner|Thur|             18.78|
| Lunch| Fri|12.845714285714285|
|Dinner| Fri| 19.66333333333333|
|Dinner| Sun|21.409999999999997|
|Dinner| Sat|20.441379310344825|
+------+----+------------------+

#### `.crosstab` and `.pivot`

In [65]:
#crosstab time and day (pass each col as a separate argument, not a list)
df.crosstab('time', 'day').show()

+--------+---+---+---+----+
|time_day|Fri|Sat|Sun|Thur|
+--------+---+---+---+----+
|   Lunch|  7|  0|  0|  61|
|  Dinner| 12| 87| 76|   1|
+--------+---+---+---+----+

In [66]:
#.pivot turns argument into columns and we can see the avg total bill for lunch or dinner per day
df.groupBy('time').pivot('day').agg(mean('total_bill')).show()

+------+------------------+------------------+------------------+------------------+
|  time|               Fri|               Sat|               Sun|              Thur|
+------+------------------+------------------+------------------+------------------+
| Lunch|12.845714285714285|              null|              null|17.664754098360653|
|Dinner| 19.66333333333333|20.441379310344825|21.409999999999997|             18.78|
+------+------------------+------------------+------------------+------------------+

**Note**: 
- `.crosstab` is just for counts
- for other methods of summarizing groups, use `.groupBy` (maybe in combination with `.pivot`) + `.agg`

## Additional Spark Features

#### Spark SQL

In [67]:
#creating a view in spark
#exists for duration of spark session
df.createOrReplaceTempView('tips')

In [68]:
#above function let's us use sql
spark.sql('''
SELECT *
FROM tips
''').show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [69]:
#find the tip, total_bill, and day with the highest overall sales for that day
spark.sql('''
SELECT tip, total_bill, day
FROM tips
WHERE day = (
    SELECT day
    FROM tips
    GROUP BY day
    ORDER BY sum(total_bill) DESC
    LIMIT 1
)    
''').show()

+----+----------+---+
| tip|total_bill|day|
+----+----------+---+
|3.35|     20.65|Sat|
|4.08|     17.92|Sat|
|2.75|     20.29|Sat|
|2.23|     15.77|Sat|
|7.58|     39.42|Sat|
|3.18|     19.82|Sat|
|2.34|     17.81|Sat|
| 2.0|     13.37|Sat|
| 2.0|     12.69|Sat|
| 4.3|      21.7|Sat|
| 3.0|     19.65|Sat|
|1.45|      9.55|Sat|
| 2.5|     18.35|Sat|
| 3.0|     15.06|Sat|
|2.45|     20.69|Sat|
|3.27|     17.78|Sat|
| 3.6|     24.06|Sat|
| 2.0|     16.31|Sat|
|3.07|     16.93|Sat|
|2.31|     18.69|Sat|
+----+----------+---+
only showing top 20 rows

#### `.explain()`

In [70]:
#.explain gets back results from spark's query planner
spark.sql('''
SELECT *
FROM tips    
''').explain()

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#362]
+- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

**query planner = the way the query is going to be executed**

In [71]:
#query plan reads from bottom to top
#first, takes existing RDD (existing df that was turned from pandas df into spark df)
#then, Project operation, where it selects all of our columns, and also tip / total_bill as tip_pct
df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct'),
).explain()

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#362, (tip#1 / total_bill#0) AS tip_pct#1254]
+- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

In [72]:
#add .where(time == Dinner)
#first take from existing dataset, then we do a filter where time is not null and == Dinner
#and then do Project where we say take all cols and create tip_pct col
df.where(
    df.time == 'Dinner'
).select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct'),
).explain()

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#362, (tip#1 / total_bill#0) AS tip_pct#1264]
+- *(1) Filter (isnotnull(time#5) AND (time#5 = Dinner))
   +- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

In [73]:
#what if we do select first, and then .where()?
df.select(
    '*',
    (df.tip / df.total_bill).alias('tip_pct'),
).where(
    df.time == 'Dinner'
).explain()

#the same output comes out cause spark figures out the most efficient way to do things

== Physical Plan ==
*(1) Project [total_bill#0, tip#1, sex#2, smoker#3, day#4, time#5, size#6L, (tip#1 / total_bill#0) AS tip_pct#362, (tip#1 / total_bill#0) AS tip_pct#1274]
+- *(1) Filter (isnotnull(time#5) AND (time#5 = Dinner))
   +- *(1) Scan ExistingRDD[total_bill#0,tip#1,sex#2,smoker#3,day#4,time#5,size#6L]

#### Missing Data
Tips dataset does not have any missing info but syntax looks like this:


>`df.na.drop()`

>`df.na.drop(subset=['x', 'y'])`

Or to fill in data w/ specific number:


>`df.na.fill(0)`

>`df.na.fill(0, subset=['x', 'y'])`



*`.subset=['col1', 'col2']` restricts this to only columns specified*

#### `expr` lets us mix in parts of SQL into our dataframes

In [74]:
from pyspark.sql.functions import expr

In [75]:
#instead of writing spark.sql
#mix in sql expressions as part of df
df.select(
    '*',
    expr('tip / total_bill as tip_pct')
).where(
    expr('day = "Sun" AND time = "Dinner"')
).show()

+----------+----+------+------+---+------+----+-------------------+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|            tip_pct|            tip_pct|
+----------+----+------+------+---+------+----+-------------------+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|0.20624631703005306|
|     17.46|2.54|  Male|    No|Sun|Dinner|   2|0.14547537227949597|0.14547537227949597|
+----------+----+------+------+---+------+----+-------------------+-------------------+
only showing top 20 rows

***
# Spark API Mini Exercises
Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

`import pandas as pd
import numpy as np`

`np.random.seed(13)`

`pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})`

In [76]:
import pandas as pd
import numpy as np

np.random.seed(13)

### 1. Spark Dataframe Basics

#### i. Use the starter code above to create a pandas dataframe.

In [77]:
pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

#### ii. Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [78]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [79]:
#can see summary stats w/ .describe()
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

#### iii. Show the first 3 rows of the dataframe.

In [80]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

#### iv. Show the first 7 rows of the dataframe.

In [81]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

#### v. View a summary of the data using `.describe`.

In [82]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

#### vi. Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

In [83]:
df.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

#### vii. Use `.select` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.

In [84]:
df.select('group', 'abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

#### viii. Use `.select` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.

In [85]:
df.select('group', df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

#### ix. Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

In [86]:
df.select('group', df.n.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [87]:
#nothing has been reassigned so df is still like original
#none of changes above were saved to a new variable
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### 2. Column Manipulation

#### i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a variable named `df`.

In [88]:
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

#### ii. Use `.select` to add 4 to the `n` column. Show the results.

In [89]:
df.select(df.n + 4).show()

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
| 4.532337888294546|
| 5.350187899722527|
|  4.86121137416932|
| 5.478685737435897|
| 2.954622869461466|
|3.2110109750484512|
| 2.738394054680931|
| 4.562846785281032|
|3.7566737481144377|
| 4.913740704859677|
| 4.317350922736336|
| 4.127303280206981|
| 6.150382967381113|
| 4.606288656896298|
|3.9732283500135592|
+------------------+

#### iii. Subtract 5 from the `n` column and view the results.

In [90]:
df.select(df.n - 5).show()

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
| -4.467662111705454|
|-3.6498121002774733|
|  -4.13878862583068|
| -3.521314262564103|
| -6.045377130538534|
| -5.788989024951549|
| -6.261605945319069|
| -4.437153214718968|
| -5.243326251885563|
| -4.086259295140323|
| -4.682649077263664|
| -4.872696719793019|
|-2.8496170326188874|
| -4.393711343103702|
| -5.026771649986441|
+-------------------+

#### iv. Multiply the `n` column by 2. View the results along with the original numbers.

In [91]:
df.select('n', df.n * 2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

#### v. Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

In [92]:
#needs reassigning to modify df
n2 = (df.n * - 1).alias('n2')

df = df.select('*', n2)
df.show(4)

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|
|   0.753766378659703|    x|false|  -0.753766378659703|
|-0.04450307833805...|    z|false|0.044503078338053455|
| 0.45181233874578974|    y|false|-0.45181233874578974|
+--------------------+-----+-----+--------------------+
only showing top 4 rows

#### vi. Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

In [93]:
n3 = (df.n ** 2).alias('n3')

df = df.select('*', n3)
df.show(5)

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|
+--------------------+-----+-----+--------------------+--------------------+
only showing top 5 rows

#### vii. What happens when you run the code below?

`df.group + df.abool`

In [94]:
#add string to a bool
#spark adds them together, but what if we use .select (cell below)
df.group + df.abool

#this doesn't produce an error, cause spark hasn't done any evaluating yet (w/ .select or .show)

Column<'(group + abool)'>

#### viii. What happens when you run the code below? What is the difference between this and the previous code sample?

`df.select(df.group + df.abool)`

In [95]:
#df.select(df.group + df.abool)

#error message:
#AnalysisException: cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;
#'Project [(cast(group#431 as double) + abool#432) AS (group + abool)#843]
#+- Project [n#430, group#431, abool#432, n2#794, POWER(n#430, cast(2 as double)) AS n3#816]
#   +- Project [n#430, group#431, abool#432, (n#430 * cast(-1 as double)) AS n2#794]
#      +- LogicalRDD [n#430, group#431, abool#432], false

#### ix. Try adding various other columns together. What are the results of combining the different data types?

In [96]:
#adding all n's together
n4 = (df.n * 2 + df.n2 *2 + df.n3 *2).alias('n4')

df = df.select(('*'), n4).show(5)

+--------------------+-----+-----+--------------------+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|                  n4|
+--------------------+-----+-----+--------------------+--------------------+--------------------+
|  -0.712390662050588|    z|false|   0.712390662050588|   0.507500455376875|    1.01500091075375|
|   0.753766378659703|    x|false|  -0.753766378659703|  0.5681637535977627|  1.1363275071955254|
|-0.04450307833805...|    z|false|0.044503078338053455|0.001980523981562...|0.003961047963125845|
| 0.45181233874578974|    y|false|-0.45181233874578974| 0.20413438944294027| 0.40826877888588053|
|  1.3451017084510097|    z|false| -1.3451017084510097|  1.8092986060778251|  3.6185972121556502|
+--------------------+-----+-----+--------------------+--------------------+--------------------+
only showing top 5 rows

### 3. Type casting

#### i. Use the starter code above to re-create a spark dataframe.

In [97]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

df = spark.createDataFrame(pandas_dataframe)

df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

#### ii. Use `.printSchema` to view the datatypes in your dataframe.

In [98]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

#### iii. Use `.dtypes` to view the datatypes in your dataframe.

In [99]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

#### iv. What is the difference between the two code samples below?

`df.abool.cast('int')`


`df.select(df.abool.cast('int')).show()`

In [100]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [101]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

#### v. Use `.select` and `.cast` to convert the `abool` column to an integer type. View the results.

In [102]:
df.select('abool', df.abool.cast('int')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
| true|    1|
| true|    1|
|false|    0|
|false|    0|
|false|    0|
| true|    1|
|false|    0|
| true|    1|
+-----+-----+

#### vi. Convert the `group` column to a integer data type and view the results. What happens?

In [104]:
df.select('group', df.group.cast('int')).show()
#null b/c group is a string obj and it does not exist as int

+-----+-----+
|group|group|
+-----+-----+
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    z| null|
|    y| null|
|    z| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    y| null|
|    y| null|
|    y| null|
|    y| null|
|    x| null|
|    z| null|
|    y| null|
|    x| null|
|    x| null|
+-----+-----+

#### vii. Convert the `n` column to a integer data type and view the results. What happens?

In [105]:
df.select('n', df.n.cast('int')).show()
#gets rid of decimals

+--------------------+---+
|                   n|  n|
+--------------------+---+
|  -0.712390662050588|  0|
|   0.753766378659703|  0|
|-0.04450307833805...|  0|
| 0.45181233874578974|  0|
|  1.3451017084510097|  1|
|  0.5323378882945463|  0|
|  1.3501878997225267|  1|
|  0.8612113741693206|  0|
|  1.4786857374358966|  1|
| -1.0453771305385342| -1|
| -0.7889890249515489|  0|
|  -1.261605945319069| -1|
|  0.5628467852810314|  0|
|-0.24332625188556253|  0|
|  0.9137407048596775|  0|
| 0.31735092273633597|  0|
| 0.12730328020698067|  0|
|  2.1503829673811126|  2|
|  0.6062886568962988|  0|
|-0.02677164998644...|  0|
+--------------------+---+

#### viii. Convert the `abool` column to a string data type and view the results. What happens?

In [109]:
df.select('abool', df.abool.cast('string')).show()

+-----+-----+
|abool|abool|
+-----+-----+
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
| true| true|
| true| true|
|false|false|
|false|false|
|false|false|
| true| true|
|false|false|
| true| true|
+-----+-----+

In [110]:
#above reads the same but dtypes are different
df.select('abool', df.abool.cast('string')).dtypes

[('abool', 'boolean'), ('abool', 'string')]

### 4. Built-in Functions

#### i. Use the starter code above to re-create a spark dataframe.

In [111]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

df = spark.createDataFrame(pandas_dataframe)

df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

#### ii. Import the necessary functions from `pyspark.sql.functions`

In [112]:
from pyspark.sql.functions import min, max, mean, concat, lit

#### iii. Find the highest `n` value.

In [115]:
df.select(max('n')).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

#### iv. Find the lowest `n` value.

In [116]:
df.select(min('n')).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

#### v. Find the average `n` value.

In [117]:
df.select(mean('n')).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

#### vi. Use `concat` to change the `group` column to say, e.g. "Group: x" or "Group: y"

In [121]:
df.select('group', concat(lit('Group: '), 'group').alias("group_name")).show()

+-----+----------+
|group|group_name|
+-----+----------+
|    z|  Group: z|
|    x|  Group: x|
|    z|  Group: z|
|    y|  Group: y|
|    z|  Group: z|
|    y|  Group: y|
|    z|  Group: z|
|    x|  Group: x|
|    z|  Group: z|
|    y|  Group: y|
|    x|  Group: x|
|    y|  Group: y|
|    y|  Group: y|
|    y|  Group: y|
|    y|  Group: y|
|    x|  Group: x|
|    z|  Group: z|
|    y|  Group: y|
|    x|  Group: x|
|    x|  Group: x|
+-----+----------+

#### vii. Use `concat` to combine the `n` and `group` columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [122]:
df.select(concat('group', lit(': '), 'n').alias('combined_cols')).show()

+--------------------+
|       combined_cols|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+

### 5. When / Otherwise

#### i. Use the starter code above to re-create a spark dataframe.

In [123]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

df = spark.createDataFrame(pandas_dataframe)

df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

#### ii. Use `when` and `.otherwise` to create a column that contains the text "It is true" when `abool` is true and "It is false"" when `abool` is false.

In [126]:
df.select(df.abool, 
          when(df.abool == 'true', 'It is true')
          .otherwise('It is false')
          .alias('What is it?'))
.show()

+-----+-----------+
|abool|What is it?|
+-----+-----------+
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
|false|It is false|
| true| It is true|
+-----+-----------+

In [127]:
#alternate
df.select(
    'abool',
    when(df.abool, 'It is true').otherwise('It is false').alias('message')
).show()

+-----+-----------+
|abool|    message|
+-----+-----------+
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
| true| It is true|
| true| It is true|
|false|It is false|
|false|It is false|
|false|It is false|
| true| It is true|
|false|It is false|
| true| It is true|
+-----+-----------+

#### iii. Create a column that contains 0 if `n` is less than 0, otherwise, the original `n` value.

In [132]:
df.select('n', when(df.n < 0, 0).otherwise(df.n)).show()

+--------------------+-----------------------------------+
|                   n|CASE WHEN (n < 0) THEN 0 ELSE n END|
+--------------------+-----------------------------------+
|  -0.712390662050588|                                0.0|
|   0.753766378659703|                  0.753766378659703|
|-0.04450307833805...|                                0.0|
| 0.45181233874578974|                0.45181233874578974|
|  1.3451017084510097|                 1.3451017084510097|
|  0.5323378882945463|                 0.5323378882945463|
|  1.3501878997225267|                 1.3501878997225267|
|  0.8612113741693206|                 0.8612113741693206|
|  1.4786857374358966|                 1.4786857374358966|
| -1.0453771305385342|                                0.0|
| -0.7889890249515489|                                0.0|
|  -1.261605945319069|                                0.0|
|  0.5628467852810314|                 0.5628467852810314|
|-0.24332625188556253|                                0.0|
|  0.9137407048596775|                 0.9137407048596775|
| 0.31735092273633597|                0.31735092273633597|
| 0.12730328020698067|                0.12730328020698067|
|  2.1503829673811126|                 2.1503829673811126|
|  0.6062886568962988|                 0.6062886568962988|
|-0.02677164998644...|                                0.0|
+--------------------+-----------------------------------+

### 6. Filter / Where

#### i. Use the starter code above to re-create a spark dataframe.

In [133]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

df = spark.createDataFrame(pandas_dataframe)

df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

#### ii. Use `.filter` or `.where` to select just the rows where the group is `y` and view the results.

In [134]:
df.filter(df.group == 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

#### iii. Select just the columns where the `abool` column is false and view the results.

In [135]:
df.where(df.abool == 'false').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [138]:
#alternate
df.filter(~ df.abool).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

#### iv. Find the columns where the `group` column is *not* `y`.

In [137]:
df.where(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

#### v. Find the columns where `n` is positive.

In [139]:
df.where(df.n > 0).show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
|0.12730328020698067|    z|false|
| 2.1503829673811126|    y| true|
| 0.6062886568962988|    x|false|
+-------------------+-----+-----+

#### vi. Find the columns where `abool` is true and the `group` column is `z`.

In [140]:
df.where(df.abool == 'true').where(df.group == 'z').show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

In [141]:
#alternate
df.filter(df.abool).filter(df.group == 'z').show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+

#### vii. Find the columns where `abool` is true or the `group` column is `z`.

In [146]:
df.where(df.abool | (df.group == 'z')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

#### viii. Find the columns where `abool` is false and `n` is less than 1.

In [147]:
df.where(df.abool == 'false').where(df.n < 1).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

In [148]:
#alternate
df.filter(~ df.abool).filter(df.n < 1).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

#### ix. Find the columns where `abool` is false or `n` is less than 1.

In [151]:
df.filter(~ df.abool | (df.n < 1)).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

### 7. Sorting

#### i. Use the starter code above to re-create a spark dataframe.

In [152]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

df = spark.createDataFrame(pandas_dataframe)

df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

#### ii. Sort by the `n` value.

In [153]:
df.sort('n').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  0.9137407048596775|    y|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  2.1503829673811126|    y| true|
+--------------------+-----+-----+

#### iii. Sort by the `group` value, both ascending and descending.

In [154]:
df.sort('group').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.02677164998644...|    x| true|
|  0.6062886568962988|    x|false|
| 0.31735092273633597|    x|false|
|  0.8612113741693206|    x|false|
| -0.7889890249515489|    x|false|
|   0.753766378659703|    x|false|
| -1.0453771305385342|    y| true|
|  -1.261605945319069|    y|false|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  2.1503829673811126|    y| true|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
|  -0.712390662050588|    z|false|
| 0.12730328020698067|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+

In [156]:
df.sort(df.group.desc()).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.04450307833805...|    z|false|
|  1.4786857374358966|    z| true|
| 0.12730328020698067|    z|false|
|  -0.712390662050588|    z|false|
|  -1.261605945319069|    y|false|
|  0.5323378882945463|    y|false|
|  2.1503829673811126|    y| true|
| 0.45181233874578974|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
|  0.5628467852810314|    y| true|
|   0.753766378659703|    x|false|
| -0.7889890249515489|    x|false|
|  0.8612113741693206|    x|false|
| 0.31735092273633597|    x|false|
|-0.02677164998644...|    x| true|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+

#### iv. Sort by the group value first, then, within each group, sort by `n` value.

In [157]:
df.sort(df.group, df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

#### v. Sort by `abool`, `group`, and `n`. Does it matter in what order you specify the columns when sorting?

In [158]:
df.sort(df.abool, df.group, df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|-0.02677164998644...|    x| true|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
|  0.5628467852810314|    y| true|
|  2.1503829673811126|    y| true|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

### 8. Spark SQL

#### i. Use the starter code above to re-create a spark dataframe.

#### ii. Turn your dataframe into a table that can be queried with spark SQL. Name the table `my_df`. Answer the rest of the questions in this section with a spark sql query (`spark.sql`) against `my_df`. After each step, view the first 7 records from the dataframe.

#### iii. Write a query that shows all of the columns from your dataframe.

#### iv. Write a query that shows just the `n` and `abool` columns from the dataframe.

#### v. Write a query that shows just the `n` and `group` columns. Rename the `group` column to `g`.

#### vi. Write a query that selects `n`, and creates two new columns: `n2`, the original `n` values halved, and `n3`: the original `n` values minus 1.

#### vii. What happens if you make a SQL syntax error in your query?

### 9. Aggregating

#### i. What is the average `n` value for each group in the `group` column?

#### ii. What is the maximum `n` value for each group in the `group` column?

#### iii. What is the minimum `n` value by `abool`?

#### iv. What is the average `n` value for each unique combination of the `group` and `abool` column?

#### Bonus: Revisit the exercises for the [pandas dataframes](https://ds.codeup.com/python/dataframes/) lesson and the [advanced dataframes lesson](https://ds.codeup.com/python/advanced-dataframes/). Complete the exercises, but convert the pandas dataframes to spark dataframes first in order to practice using the spark api.